<h1 class="mt-4">Welcome to CookBook!</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="../../cookbook/src/components/search-ingr/search.js" class="btn btn-primary">Start your search!</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
