#search-ingredient:hover {
    cursor: pointer;
}

hr {
    color: transparent;
}

#search {
    border-radius: 18px;
}

#submit {
    background: black;
    color: white;
    border-radius: 15px;
    border-color: black;
}